/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color : antiquewhite;
}

/* styling for navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    color: white;
}

/* styling for logo */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* styling for nav links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    font-family: fantasy;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: larger;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #e74c3c;
}

/*Adding responsive styling*/
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #34495e;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 10px;
    }

    .nav-links li {
        margin: 10px 0;
    }
}
.banner {
    position : relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner img {
    border : 2px solid black;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.banner-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: fantasy;
    font-size: 8vw;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}


.banner-text p {
    font-family: fantasy;
    font-size: 3vw;
    margin: 0;
}

.section-split-center {
    margin-top : 5vh;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section-split-center img {
    border : 8px solid black;
    width : 50%;
    height : 600px;
    object-fit: cover;
}

.section-split-center-text {
    font-family: "Arial Black";
    width: 50%;
    text-align: center;
    font-size: 2em;
}
h1 {
    text-align: center;
    font-style: italic;


}