/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling for navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    color: white;
}

/* styling for logo */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* styling for nav links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #e74c3c;
}

/*Adding responsive styling*/
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #34495e;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 10px;
    }

    .nav-links li {
        margin: 10px 0;
    }
}

h1 {
    text-align: center;
    font-style: italic;


}