
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/*background for hiring and menu pages*/
body {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

/*text for the home page*/
#index-Text {
    font-family: fantasy;
    font-size : 2em;
    text-align: center;
    margin-top: 40px;
}
/*horizontal rule below the banner image home page*/
#index-hr {
    accent-color: black;
    width: 80%;
    margin: 40px auto;
    border : none;
    border-top: 2px solid black;
}

/*background for body of home page*/
#index-body {
    background-color: antiquewhite;
    background-image: none;
}
/*styling for google font fondamento*/
.fondamento-regular {
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: normal;
}

.fondamento-regular-italic {
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: italic;
}


/*logo for navbar*/
.navbar-brand img {
    height: 50px;
    width: 50px;
}
/*font for navbar links*/
.nav-link {
    font-family: Fondamento, serif;

}

/* banner container for home page */
.banner {
    margin-top : 0;
    position : relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* image in banner container */
.banner img {
    border : 2px solid black;
    width: 100%;
    display: block;
    max-width : 100vw;
    object-fit : fill;
    overflow: hidden;
    height : auto;
}

/* Text over banner image on home page */
.banner-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Fondamento, serif;
    font-style: italic;
    font-size: 8vw;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}


.banner-text p {
    font-family: fantasy;
    font-size: 3vw;
    margin: 0;
}

/* image on the hiring page */
.hiring-img {
    border : 8px solid black;
    width : 600px;
    height : 70vh;
    max-height: 600px;
    margin-bottom: 0;
    padding-bottom: 0;
}


/* styling for the labels and text of the hiring form */
.form-label,
.form-text,
#state-label{
    color : white !important;
}

/* reset button on hiring form */
#resetButton {
    background-color : darkred;
    border-color: darkred;
}

/* styling for my font awesome icon*/
.fa-poop {
    position: relative;
    margin-left: 50%;
}

/* Styling for my hiring form*/
form label, form .form-label{
    color: black !important;
}

input.invalid {
    border-color: red;
}
.error {
    color: red;
    font-size: 0.9em;
}

.input-helper {
    color : black;
    font-size : 0.9em;
}

#form-scrollable {
    background-color: rgba(0,0,0,0.5);
    max-height: 80vh;
    overflow-y: auto;
    padding: 15px;
}

/* Styling for carousel on home page for cust reviews*/

.carousel-inner {
    height: 100%;
    width: 100%;
}

#carouselSplit {
    width : 100%;
    height : 70vh;
    max-height : 600px;
    object-fit: cover;
    margin-bottom: 0;
    padding-bottom: 0;
}

.carousel-item {
    position: relative;
    font-family: "Arial Black";
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2em;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 50% 50%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.carousel-control-prev,
.carousel-control-next {
    z-index: 10;
}

.section-split-center {
    overflow: visible;
}

.d-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.d-block h2 {
    margin-top: 25%;
}

h1 {
    text-align: center;
    font-family: Fondamento, serif;
}



/* styling for menu page carousel*/

.menu-carousel {
    margin-top: 30px;
}

#menuItem {
    max-width: 1200px;
}

#itemText {
    font-family: Fondamento, serif;
    color: white;
    font-size: 2em;
}

#itemName {
    text-decoration: underline;
    font-size:2em;
}

#itemImage {
    height: 500px;
    object-fit: cover;
    margin-right:20px;
}

#alt-header {
    color: white;
    text-align: center;
    font-family: Fondamento, serif;
    font-size: 60pt;
}